<h2>Court Calendars</h2>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Court Title</th>
      <th>Calendar Date</th>
      <th>Pages</th>
      <th>Events</th>
      <th>Expected Events</th>
      <th>Event Coverage Rate</th>
    </tr>

    <% @court_calendars.each do |court_calendar| %>
    <tr>
      <td><%= link_to court_calendar.court_title, court_calendar.url %></td>
      <td><%= court_calendar.date %></td>
      <td><%= court_calendar.page_count %></td>
      <td><%= court_calendar.events_count %></td>
      <td><%= court_calendar.expected_events_count %></td>
      <td><%= number_to_percentage(court_calendar.event_coverage_rate * 100, format: "%n%") %></td>
    </tr>
    <% end %>
  </table>
</div>
