<h2>Court Calendars</h2>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Court</th>
      <th>Upload date</th>
      <th>Pages</th>
      <!--th>Unparsable pages</th-->
      <th>Page parse rate</th>
      <th>Events</th>
      <!--th>Expected events</th-->
      <th>Event coverage rate</th>
      <th>Events parsed</th>
      <th>Event parse rate</th>
    </tr>

    <% @court_calendars.each do |court_calendar| %>
    <tr>
      <td><%= link_to court_calendar.court_title, court_calendar.url %></td>
      <td><%= court_calendar.date %></td>
      <td><%= court_calendar.page_count %></td>
      <!--td><%= court_calendar.unparsable_page_count %></td-->
      <td><%= number_to_percentage(court_calendar.page_parse_rate * 100, format: "%n%", :precision => 2) %></td>
      <td><%= court_calendar.events_count %></td>
      <!--td><%= court_calendar.expected_events_count %></td-->
      <td><%= number_to_percentage(court_calendar.event_coverage_rate * 100, format: "%n%", :precision => 2) %></td>
      <td><%= court_calendar.parsed_event_count %></td>
      <td><%= number_to_percentage(court_calendar.event_parse_rate * 100, format: "%n%", :precision => 2) %></td>
    </tr>
    <% end %>
  </table>
</div>
