<h2>API</h2>

<p>
  Your API Key is <code><%= @api_key %></code>.
  <%= link_to "Regenerate it", regenerate_api_key_path %>, or
  use it to make api calls.
</p>

<h3>Event Search</h3>
<p>
  GET:
  <pre>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}" %></code>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}&defendant_name=MARTINEZ" %></code>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}&defendant_name=martin" %></code>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}&case_number=SLC%20161901292" %></code>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}&case_number=SLC%20161901292&defendant_name=MARTINEZ" %></code>
    <code><%= "/api/v0/event-search.json?api_key=#{@api_key}&case_number=SLC%20161901292&defendant_name=JONES" %></code>
  </pre>
</p>
