<!DOCTYPE html>
<html>
<head>
  <title>UtahCourtCalendarService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Utah Court Calendar Service</h1>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <footer style="margin-top:2em;">
    <p>
      <a href="https://github.com/OpenSaltLake/utah-court-calendar-service">source</a>
    </p>
  </footer>
</body>
</html>
