<!DOCTYPE html>
<html>
<head>
  <title>UtahCourtCalendarService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header>
    <h1><%= link_to "Utah Court Calendar Service", root_path %></h1>

    <% unless developer_account_signed_in? %>
    <p>
      Only registered Developer Accounts with a valid API Key may access the API.
      <%= link_to "Sign Up", new_developer_account_registration_path %> |
      <%= link_to "Sign In", new_developer_account_session_path %>
    </p>
    <% else %>
    <p>
      <%= link_to "Log Out", destroy_developer_account_session_path, :method => :delete %>
    </p>
    <% end %>
  </header>

  <%= yield %>

  <footer style="margin-top:2em;">
    <p>
      <a href="https://github.com/OpenSaltLake/utah-court-calendar-service">source</a>
    </p>
  </footer>
</body>
</html>
